<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'DEFENSE' | translate }}</ion-label>
      <ion-toggle (ionChange)="changeEtatAllDefenseur()" [(ngModel)]="etatAllDefenseur" color="dark"></ion-toggle>
    </ion-list-header>
    <ion-item *ngFor="let operator of allDefenseOperator">
      <ion-thumbnail item-left>
        <img src="assets/icon/OPs-badges/{{operator.image}}">
      </ion-thumbnail>
      <ion-label>{{operator.name}} ({{operator.pays}})</ion-label>
      <ion-toggle [(ngModel)]="operator.active" color="dark" (ionChange)="changeEtatDefenseur(operator.id)"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'ATTACK' | translate }}</ion-label>
      <ion-toggle  (ionChange)="changeEtatAllAttaquant()" [(ngModel)]="etatAllAttaquant" color="dark"></ion-toggle>
    </ion-list-header>
    <ion-item *ngFor="let operator of allAttackOperator">
      <ion-thumbnail item-left>
        <img src="assets/icon/OPs-badges/{{operator.image}}">
      </ion-thumbnail>
      <ion-label>{{operator.name}} ({{operator.pays}})</ion-label>
      <ion-toggle [(ngModel)]="operator.active" color="dark" (ionChange)="changeEtatAttaquant(operator.id)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
